.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 40px;
  left: 0;
  background-color: rgba(99, 99, 99, 0.25);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-top: 1px solid grey;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.openbtn {
  line-height: 2.5;
  background-color: transparent;
  position: fixed;
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: none;
  top: 50%;
  left: -70px;
  z-index: 2;
  border-bottom: 50px solid rgba(99, 99, 99, 0.25);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 191px;
  transform: rotate(90deg);
  transition: 0.5s;
}

.openbtn:hover {
  border-bottom: 50px solid rgba(175, 175, 175, 0.25);
}

.openbtn:focus {
  outline: none;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-width:500px) {
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 0;
    background-color: rgba(99, 99, 99, 0.25);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidebar a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .openbtn {
    line-height: 2.5;
    background-color: transparent;
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    color: white;
    border: none;
    top: 25%;
    left: -70px;
    z-index: 2;
    border-bottom: 50px solid rgba(99, 99, 99, 0.25);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 191px;
    transform: rotate(90deg);
    transition: 0.3s;
  }
  .openbtn:hover {
    border-bottom: 50px solid rgba(175, 175, 175, 0.25);
  }
  .openbtn:focus {
    outline: none;
  }
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
}

@media screen and (max-height: 500px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
  .openbtn {
    top: 40%;
  }
}

